*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
  scroll-behavior: smooth;
} /* 16px */

:root {
  /* colors */
  /* red */
  --red-50: hsl(0, 71%, 97%);
  --red-100: hsl(0, 87%, 94%);
  --red-200: hsl(0, 89%, 89%);
  --red-300: hsl(0, 85%, 82%);
  --red-400: hsl(0, 82%, 71%);
  --red-500: hsl(0, 76%, 60%);
  --red-600: hsl(0, 65%, 51%);
  --red-700: hsl(0, 67%, 44%);
  --red-800: hsl(0, 63%, 35%);
  --red-900: hsl(0, 56%, 31%);
  --red-950: hsl(0, 67%, 15%);

  /* grey */
  --grey-50: hsl(204, 26%, 96%);
  --grey-100: hsl(207, 22%, 90%);
  --grey-200: hsl(211, 23%, 82%);
  --grey-300: hsl(208, 23%, 69%);
  --grey-400: hsl(210, 22%, 49%);
  --grey-500: hsl(211, 24%, 43%);
  --grey-600: hsl(213, 23%, 36%);
  --grey-700: hsl(216, 20%, 31%);
  --grey-800: hsl(217, 17%, 27%);
  --grey-900: hsl(218, 16%, 24%);
  --grey-950: hsl(221, 21%, 15%);

  /* rest of the colors */
  --black: #000;
  --white: #fff;

  /* fonts */
  --small-text: 0.875rem;
  --extra-small-text: 0.7em;

  /* rest of the vars */
  --backgroundColor: var(--grey-50);
  --textColor: var(--grey-950);
  --border-radius: 0.25rem;
  --letter-spacing: 0.05em;
  ---transition: all 0.3s ease-in-out;
  --view-width: 90vw;
  --max-width: 1120px;
  --fixed-width: 600px;

  /* box shadow */
  --shadow-1: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --shadow-2: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --shadow-3: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --shadow-4: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
}

body {
  background: var(--backgroundColor);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: var(--textColor);
}

p {
  max-width: 40em;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  margin-bottom: 1.38rem;
  font-weight: 400;
  line-height: 1;
}

h1 {
  font-size: clamp(2rem, 5vw, 5rem); /* Large heading */
}

h2 {
  font-size: clamp(1.5rem, 3vw, 3rem); /* Medium heading */
}

h3 {
  font-size: clamp(1.25rem, 2.5vw, 2.5rem); /* Small heading */
}

h4 {
  font-size: clamp(1rem, 2vw, 2rem); /* Extra small heading */
}

h5 {
  font-size: clamp(0.875rem, 1.5vw, 1.5rem); /* Tiny heading */
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
}

/** buttons */
.btn {
  cursor: pointer;
  color: var(--white);
  background: var(--grey-900);
  border: transparent;
  border-radius: var(--border-radius);
  padding: 0.375rem 0.75rem;
  box-shadow: var(--shadow-1);
  transition: var(---transition);
}

.btn:hover {
  background: var(--grey-800);
  box-shadow: var(--shadow-3);
}

.section {
  padding: 5rem 0;
}

.section-title {
  color: var(--white);
  margin-bottom: 4rem;
}

.section-center {
  margin: 0 auto;
  width: var(--view-width);
  max-width: var(--max-width);
}

/*
==========
NAVBAR
==========
*/
#navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  background: var(--red-800);
  padding: 1rem 2rem;
  box-shadow: var(--shadow-1);
}

.nav-center {
  width: var(--view-width);
  max-width: var(--max-width);
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
}

@media screen and (max-width: 576px) {
  .nav-center {
    justify-content: center;
  }
}

.nav-links {
  margin: 0;
  display: flex;
  gap: 1rem;
  font-size: 1.3rem;
}

.nav-link {
  color: var(--white);
  padding: 0.375rem 0.75rem;
  border-radius: var(--border-radius);
  transition: var(---transition);
}

.nav-link:hover {
  background: var(--grey-800);
}

/*
==========
WELCOME
==========
*/
#welcome-section {
  min-height: 100vh;
  background: var(--black);
  display: grid;
  place-items: center;
  text-align: center;
}

@media screen and (min-width: 576px) {
  #welcome-section {
    background: linear-gradient(rgba(0 0 0 / 0.8), rgba(0 0 0 / 0.8)),
      url(./images/hero-bcg.jpg) no-repeat center/cover fixed;
  }
}

#welcome-section h1 {
  color: var(--white);
}

#welcome-section p {
  color: var(--red-400);
  font-size: 2rem;
  font-style: italic;
}

/*
==========
PROJECTS
==========
*/
#projects {
  background-color: var(--grey-500);
  text-align: center;
}

.grid {
  margin-bottom: 1rem;
}

@media screen and (min-width: 768px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
}

.project-tile {
  display: block;
  margin-bottom: 2rem;
  background-color: var(--grey-900);
  border-radius: var(--border-radius);
  overflow: hidden;
  box-shadow: var(--shadow-1);
  transition: var(---transition);
}

.project-tile:hover {
  box-shadow: var(--shadow-2);
  transform: scale(1.02);
}

.project-img {
  height: 15rem;
}

.project-title {
  padding: 1.25rem 0;
  color: var(--white);
  letter-spacing: var(--letter-spacing);
}

/*
==========
CONTACT
==========
*/
#contact {
  background-color: var(--grey-900);
  color: var(--white);
  text-align: center;
}

#contact h2 {
  margin-bottom: 0.5rem;
}

#contact p {
  margin: 0 auto;
  margin-bottom: 1rem;
  font-size: 1.1rem;
  font-style: italic;
}

.social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

#profile-link {
  display: inline-block;
  color: inherit;
  font-size: 1.5rem;
  transition: var(---transition);
}

#profile-link:hover {
  transform: translateY(-0.25rem);
}
