@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400&display=swap');

/*
==========
Variables
==========
*/
:root {
  --primaryColor: #f15025;
  --mainBlack: #222;
  --mainWhite: #fff;
  --offWhite: #f7f7f7;
  --darkGrey: #afafaf;
  --mainTransition: all 0.3s linear;
  --mainSpacing: 0.2rem;
}

/*
==========
Global Styles
==========
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Fira Code', monospace;
  color: var(--mainBlack);
  background: var(--mainWhite);
  line-height: 1.5;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  display: block;
}

h1,
h2,
h3 {
  line-height: 1;
  letter-spacing: var(--mainSpacing);
  margin-bottom: 1.25rem;
}

h1 {
  font-size: 3.052rem;
}

h2 {
  font-size: 2.441rem;
  margin-bottom: 0;
}

h3 {
  font-size: 1.953rem;
}

p {
  font-weight: 300;
  font-size: 0.7rem;
}

.btn {
  display: inline-block;
  padding: 0.5rem 1rem;
  border: 3px solid var(--primaryColor);
  color: var(--primaryColor);
  margin: 3rem;
  transition: var(--mainTransition);
}

.btn:hover {
  background: var(--primaryColor);
  color: var(--mainWhite);
}

/*
==========
Navbar
==========
*/
.main-navbar {
  background: var(--darkGrey);
  padding: 0 2rem;
}

.nav-links {
  list-style: none;
}

.nav-link {
  text-transform: capitalize;
  display: block;
  padding: 1rem 0;
  color: var(--primaryColor);
  letter-spacing: var(--mainSpacing);
  transition: var(--mainTransition);
}

@media screen and (min-width: 992px) {
  .nav-links {
    max-width: 1170px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  .nav-link {
    text-align: center;
  }
}

.nav-link:hover {
  color: var(--mainBlack);
}

/*
==========
Hero
==========
*/
.hero-header {
  min-height: 100vh;
  min-height: 100dvh;
  background: var(--primaryColor);
  color: var(--mainWhite);
  display: grid;
  justify-content: center;
  align-items: center;
}

.hero-title {
  font-size: 4rem;
}

.hero-text {
  max-width: 40em;
  font-size: 1rem;
}

@media screen and (max-width: 600px) {
  .hero-banner {
    padding: 0 3rem;
  }
}

@media screen and (min-width: 768px) {
  .hero-header {
    background: linear-gradient(rgba(241, 80, 37, 0.75), rgba(0, 0, 0, 0.75)),
      url('./images/image-2.jpeg') no-repeat center/cover fixed;
  }
}

/*
==========
Cards
==========
*/
.cards {
  padding: 4rem 0;
}

.title {
  text-align: center;
}

.cards-center {
  width: 80vw;
  max-width: 1170px;
  margin: 2rem auto;
}

.card {
  border: 1px solid var(--darkGrey);
  margin-bottom: 3rem;
}

.card-info {
  padding: 1rem;
}

.card-footer {
  background: var(--darkGrey);
  padding: 0.5rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
}

.card-icon {
  color: var(--primaryColor);
}

/** row height */
.card {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
}

/* .card img {
  height: 100%;
} */

/** with media queries */
/* @media screen and (min-width: 768px) {
  .cards-center {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
  }
}
/* 2 gaps = 64px */

/*@media screen and (min-width: 1170px) {
  .cards-center {
    grid-template-columns: repeat(3, 1fr);
  }
} */
/* (max-wdith - gaps) / nb of colummns we want*/
/* (1170 - 64) / 3  = 368 */

/** without media queries */
.cards-center {
  display: grid;
  column-gap: 2rem;
  /* three column layout */
  grid-template-columns: repeat(auto-fit, minmax(368px, 1fr));
  /* four column layout */
  /* grid-template-columns: repeat(auto-fill, minmax(268.5px, 1fr)); */
}

/*
==========
Tiles
==========
*/
.tiles {
  padding: 4rem 0;
}

.tiles-center {
  width: 90vw;
  max-width: 1170px;
  margin: 0 auto;
  display: grid;
  row-gap: 2rem;
}

@media screen and (min-width: 768px) {
  .tiles-center {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
  }
}

@media screen and (min-width: 992px) {
  .tiles-center {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1170px) {
  .tiles-center {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 200px);
    grid-template-areas:
      'a a a b'
      'a a a c'
      'd d d d'
      'e f f f'
      'e g h i';
  }

  .tiles img {
    height: 100%;
  }

  .tiles img {
    object-fit: cover;
  }

  .tile-1 {
    grid-area: a;
  }

  .tile-2 {
    grid-area: b;
  }

  .tile-3 {
    grid-area: c;
  }

  .tile-4 {
    grid-area: d;
  }

  .tile-5 {
    grid-area: e;
  }

  .tile-6 {
    grid-area: f;
  }

  .tile-7 {
    grid-area: g;
  }

  .tile-8 {
    grid-area: h;
  }

  .tile-9 {
    grid-area: i;
  }
}

/*
==========
Layout
==========
*/
.header {
  background: var(--primaryColor);
  color: var(--mainWhite);
  text-align: center;
  padding: 0.5rem 0;
}

.navbar {
  background: var(--darkGrey);
  list-style: none;
}

.navbar .nav-link {
  display: inline-block;
  padding: 1rem;
  color: var(--mainBlack);
  letter-spacing: var(--mainSpacing);
  font-size: 1.1rem;
  transition: var(--mainTransition);
}

.navbar .nav-link:hover {
  color: var(--mainWhite);
}

.content {
  padding: 2rem;
}

.content p {
  font-size: 1rem;
}

.sidebar {
  background: var(--primaryColor);
  padding: 1rem 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  color: var(--mainWhite);
  font-size: 1.2rem;
}

.footer {
  background: var(--mainBlack);
  padding: 0.5rem 0;
  color: var(--offWhite);
  text-align: center;
}

.footer p {
  font-size: 1.2rem;
}

.main {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto auto 1fr auto auto;
}

@media screen and (min-width: 768px) {
  .navbar {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
  }
}

@media screen and (min-width: 992px) {
  /** grid-template-areas à faire */
  .main {
    grid-template-columns: 200px 1fr 50px;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
      'header header header'
      'navbar content sidebar'
      'footer footer footer';
  }

  .header {
    grid-area: header;
  }

  .navbar {
    grid-template-columns: 1fr;
    min-height: 100%;
    align-items: center;
    grid-area: navbar;
  }

  .content {
    grid-area: content;
  }

  .footer {
    grid-area: footer;
  }

  .sidebar {
    grid-template-columns: 1fr;
    align-items: center;
    background: var(--darkGrey);
    grid-area: sidebar;
  }

  /** with grid lines naming */
  /* .main {
    grid-template-columns: [start] 200px [col-1-end] 1fr [col-2-end] 50px [end];
    grid-template-rows: [start] auto [row-1-end] 1fr [row-2-end] auto [end];
  }

  .header {
    grid-column: start/end;
    grid-row: start/row-1-end;
  }

  .navbar {
    grid-column: start/col-1-end;
    grid-row: row-1-end/row-2-end;
    grid-template-columns: 1fr;
    min-height: 100%;
    align-items: center;
  }

  .content {
    grid-column: col-1-end/col-2-end;
    grid-row: row-1-end/row-2-end;
  }

  .sidebar {
    grid-column: col-2-end/end;
    grid-row: row-1-end/row-2-end;
    grid-template-columns: 1fr;
    align-items: center;
    background: var(--darkGrey);
  }

  .footer {
    grid-column: start/end;
    grid-row: row-2-end/end;
  } */
}
